/*jshint -W069 */
/**
* {{&description}}
* @class {{&className}}
* @param {(string|object)} [domainOrOptions] - The project domain or options object. If object, see the object's optional properties.
* @param {string} [domainOrOptions.domain] - The project domain
* @param {object} [domainOrOptions.token] - auth token - object with value property and optional headerOrQueryName and isQuery properties
*/
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} {{&className}} = (function(){
'use strict';

{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} request = require('request');
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} Q = require('q');
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} fs = require('fs');
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} path = require('path');
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} lodash = require('lodash');
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} crypto = require('crypto');
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} CryptoJS = require('crypto-js');

/**
* 构造函数
* @param{string} options.accessKey - 由平台系统和accessId一起生成，签名的密钥，严格保密只有平台方和用户知道
* @param{string} options.domain - BaaS API服务地址（可选）
* @param{string} options.ca - https证书（可选）
*/
function {{&className}}(options){
if(!lodash.isPlainObject(options) || !options.domain || !options.accessKey){
throw Error('Illegal parameters: both options.doamin and options.accessKey are required!');
}
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} domain = options.domain;
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} ca = options.ca;

this.accessKey = options.accessKey;
this.domain = domain ? domain : '{{&domain}}';

if(/^https:\/\//.test(this.domain)){
this.ca = ca||fs.readFileSync(path.join(__dirname, '{{&ca}}')); // For https
}
if(this.domain.length === 0) {
throw new Error('Domain parameter must be specified as a string.');
}
}

/**
* 生成authCode
* @param{string} requestMethod
* @param{string} ak accessKey
* @param{string} accessId
* @param{string} nonce 随机字符串
* @param{object} params
* @param{string} timestamp
* @returns {string} authCode（形如：accessId=EUqV2yIU&nonce=B2d1a32w112a3ldkKDKNEN&timestamp=1501661974308&signature=gGORxQcvvKG%2B2kp8%2FwgnRM5nvlA%3D）
*/
function genAuthCode(requestMethod, ak, accessId, nonce, params, timestamp){
// 1. 获得authPerfixString
let arr = [];
arr.push('accessId='+accessId);
arr.push('nonce='+(!nonce ? Date.now() : nonce));
if(!timestamp){
timestamp = Date.now();
}
arr.push('timestamp='+timestamp);
let authPerfixString = arr.join('&');

// 2. 获得signature
let signingKey = CryptoJS.HmacSHA1(authPerfixString, ak).toString(CryptoJS.enc.Base64);

// 3. 获取signatureContent
arr = [];
for(let key of Object.keys(params).sort()){
arr.push([key, encodeURIComponent(params[key])].join('='));
}
let signatureContent = requestMethod.toUpperCase() + '-' + arr.join('&');

// 4. 获得signature
let signature = CryptoJS.HmacSHA1(signatureContent, signingKey).toString(CryptoJS.enc.Base64);
return (authPerfixString + '&signature='+encodeURIComponent(signature));
}

function mergeQueryParams(parameters, queryParameters) {
if (parameters.$queryParameters) {
Object.keys(parameters.$queryParameters)
.forEach(function(parameterName) {
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} parameter = parameters.$queryParameters[parameterName];
queryParameters[parameterName] = parameter;
});
}
return queryParameters;
}

/**
* HTTP Request
* @method
* @name {{&className}}#request
* @param {string} method - http method
* @param {string} url - url to do request
* @param {object} parameters
* @param {object} body - body parameters / object
* @param {object} headers - header parameters
* @param {object} queryParameters - querystring parameters
* @param {object} form - form data object
* @param {object} deferred - promise object
*/
{{&className}}.prototype.request = function(method, url, parameters, body, headers, queryParameters, form, deferred){
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} req = {
method: method,
uri: this.domain + url,
qs: queryParameters,
headers: headers,
body: body
};

if(this.ca){
req.ca = this.ca;
}

if(Object.keys(form).length > 0) {
req.form = form;
}
if(typeof(body) === 'object' && !(body instanceof Buffer)) {
req.json = true;
}
request(req, function(error, response, body){
if(error) {
deferred.reject(error);
} else {
if(/^application\/(.*\\+)?json/.test(response.headers['content-type'])) {
try {
body = JSON.parse(body);
} catch(e) {}
}
if(response.statusCode === 204) {
deferred.resolve({ response: response });
} else if(response.statusCode >= 200 && response.statusCode <= 299) {
deferred.resolve({ response: response, body: body });
} else {
deferred.reject({ response: response, body: body });
}
}
});
};

{{#methods}}
    {{> method}}
{{/methods}}

return {{&className}};
})();

module.exports = {{&className}};
